<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marcgregor.youtubedemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Page1Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Page2Activity" />
        <activity android:name=".Page3Activity" />
        <activity android:name=".Page4Activity" />
        <activity android:name=".Page5Activity" />
        <activity android:name=".Page6Activity" />
        <activity android:name=".Page7Activity" />
        <activity android:name=".Page8Activity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".page9Activity" />
        <activity android:name=".Page10Activity" />
        <activity android:name=".Page11Activity" />
        <activity android:name=".Page12Activity" />
        <activity android:name=".Page13Activity" />
        <activity android:name=".Page14Activity" />
        <activity android:name=".Page15Activity"></activity>
    </application>

</manifest>
